/*公用*/
body { 
	padding-top: 70px; 
	background-color: #f9fbfc;
	font-family: "Microsoft YaHei";
}
.navbar {
	height:50px;
}
.navbar .top {
	margin-left: 10px;
	font-size: 12px;
	line-height: 50px;
}
.topbar .navbar .top-help {
	margin-left: 20px;
}

/*logobar*/
.topbar {
	height:100px;
}
.logo-name {
	display: block; 
	float: left; 
	height: 15px; 
	line-height: 15px; 
	font-size: 12px; 
	border-left: 1px dashed #CCC; 
	margin-top: 45px; 
	margin-left: 3px; 
	padding-left: 6px;
	color: #999 ;
}
.input-group {
	position: relative;
	margin-top: 30px;
	width:40%;
}

/*nav*/
.sec-nav {	
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	color: #555;
	background-color: #f0f5f7;
}
.sec-nav .center-nav {
	margin-right: 30px;
}